/*
 * Stylesheet file.
 * See https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 */

.label {
    -fx-text-fill: white;
}

.label-header {
    -fx-text-fill: lightblue;
}

.text-field {
    -fx-text-fill: white;
    -fx-border-color: dimgray;
    -fx-border-radius: 4px;
    -fx-background-color: transparent;
}

.focus {
    -fx-border-color: dimgray;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
}

.nofocus {
    -fx-background-color:
        linear-gradient(from 0px 0px to 8px 8px, repeat,
        transparent 95%, dimgray 5%);
}

.menu-bar {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-pref-width: 100px;
}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: dimgray;
}

.enemy-guide {
    -fx-stroke: lightcoral;
    -fx-opacity: 0.5;
    -fx-stroke-dash-array: 8px;
    -fx-stroke-dash-offset: 12px;
}

.self-sight {
    -fx-stroke: lightcyan;
    -fx-opacity: 0.25;
    -fx-stroke-dash-array: 16px;
}